jenkins:
  systemMessage: "Jenkins => made by Jenkins Configuration as Code plugin\n"
  agentProtocols:
  - "JNLP4-connect"
  - "Ping"
  nodes:
  - permanent:
      labelString: "linux docker"
      launcher:
        ssh:
          credentialsId: "ssh-agent-access-key"
          host: "{{ hostvars[groups['ciagents'][0]]['ansible_ssh_host'] }}"
          port: 22
          sshHostKeyVerificationStrategy: "nonVerifyingKeyVerificationStrategy"
      mode: EXCLUSIVE
      name: "agent1"
      remoteFS: "/home/jenkins"
      retentionStrategy: "always"
  - permanent:
      labelString: "linux java docker"
      launcher:
        ssh:
          credentialsId: "ssh-agent-access-key"
          host: "{{ hostvars[groups['ciagents'][1]]['ansible_ssh_host'] }}"
          port: 22
          sshHostKeyVerificationStrategy: "nonVerifyingKeyVerificationStrategy"
      mode: EXCLUSIVE
      name: "agent2"
      remoteFS: "/home/jenkins"
      retentionStrategy: "always"
  crumbIssuer:
    standard:
      excludeClientIPFromCrumb: false
  disableRememberMe: false
  numExecutors: 0
  securityRealm:
    local:
      allowsSignup: false
      users:
        ## change to Vault later ##
       - id: admin
         password: {{ JENKINS_ADMIN_PASSWORD }}
  authorizationStrategy:
    globalMatrix:
      permissions:
        - "Overall/Administer:admin"
        - "Overall/Read:authenticated"
  remotingSecurity:
    enabled: true
  slaveAgentPort: 50000
  views:
  - all:
      name: "all"  
security:
  queueItemAuthenticator:
    authenticators:
    - global:
        strategy: triggeringUsersAuthorizationStrategy
tool:
  git:
    installations:
    - home: "/usr/bin/git"
      name: "Default"

credentials:
  system:
    domainCredentials:
      - credentials:
          # Tokens
          - vaultAppRoleCredential:
              description: "vault-jenkins-role"
              id: "vault-jenkins-role"
              path: "approle"
              roleId: "${readFile:{{JENKINS_SECRETS}}/vault-role-id}"
              scope: GLOBAL
              secretId: "${readFile:{{JENKINS_SECRETS}}/vault-secret-id}"
          - string:
              scope: "GLOBAL"
              id: "slack-token"
              description: "Slack Access Token"
              secret: "${readFile:{{JENKINS_SECRETS}}/slack-token}"
          - string:
              scope: "GLOBAL"
              id: "github-token"
              description: "Github Token"
              secret: "${readFile:{{JENKINS_SECRETS}}/github-token}"
          # SSH Keys
          - basicSSHUserPrivateKey:
              scope: "GLOBAL"
              id: "deploy-key"
              username: "devops"
              passphrase: ""
              description: "Deploy key"
              privateKeySource:
                directEntry:
                  privateKey: "${readFile:{{JENKINS_SECRETS}}/deploy-key}"
          - basicSSHUserPrivateKey:
              scope: "GLOBAL"
              id: "ssh-agent-access-key"
              username: "jenkins"
              passphrase: ""
              description: "SSH key to access agents"
              privateKeySource:
                directEntry:
                  privateKey: "${readFile:{{JENKINS_SECRETS}}/ssh-agent-access-key}"

unclassified:
  location:
    adminAddress: alex@tchaikovski.net
    url: http://{{ groups['ci'][0] }}:8080/

  githubpluginconfig:
    configs:
    - name: "Github"
      credentialsId: "github-token"
      apiURL: "https://api.github.com"
      manageHooks: true

  slackNotifier:
    botUser: false
    sendAsText: false
    slackUserIdResolver: "no"
    teamDomain: "alexsworkspac-nf14913"
    tokenCredentialId: "slack-token"

  hashicorpVault:
    configuration:
      engineVersion: 2
      skipSslVerification: true
      timeout: 60
      vaultCredentialId: "vault-jenkins-role"
      vaultUrl: "http://192.168.0.49:8200"
